__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
# Ignorar archivos de datos pero mantener estructura de carpetas
**/*.csv
**/*.xlsx
**/*.xls
**/*.pdf
**/*.json
# Permitir archivos de configuración json si los hubiera en src/
!src/**/*.json
*.log
.DS_Store
Thumbs.db
